/* Dark Mode Styles */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  .dark-mode a {
    color: #00A3D1;
  }
  .dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
  color: white;
}